<ion-header>
  <ion-toolbar>
    <ion-title>Despesas Colaborador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
  <div class="ButtonDiv">
  <section class="full-width">
    <ion-button class="shadow-round" expand="block" color="primary" (click) ="navO()">
      <span class="ion-text-left">Documentos</span>
      <ion-icon size ="large" name="document-text" item-right></ion-icon>
    </ion-button>
    <ion-button class="shadow-round" expand="block" color="primary" (click) ="navO(0)">
      <span class="ion-text-left">Orçamentos</span>
      <ion-icon size ="large" name="cash"></ion-icon>
    </ion-button>
    <ion-button class="shadow-round" expand="block" color="primary" (click) ="navO(1)">
      <span class="ion-text-left">Pagamentos Adiantados</span>
      <ion-icon size ="large" name="wallet"></ion-icon>
    </ion-button>
  </section>
</div>
</center>
</ion-content>
