ion-select,
ion-input,
ion-datetime {
    color: var(--ion-color-text);
}

ion-item {
    --inner-padding-end: 10px;
    --inner-padding-start: 10px;
    --padding-start: 0px;
    width: 100%;
}

ion-back-button {
    color: var(--ion-color-button-text)
}

ion-toolbar {
    color: var(--ion-color-text);
}

ion-item {
    --inner-padding-end: 5px;
    --padding-start: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.123) !important;
}

ion-input {
    width: 100%;
}

ion-item {
    --border-color: rgba(255, 255, 255, 0.123) !important;
    margin: 20px 0;
}

ion-label {
    color: black !important;
}

ion-button {
    --background: transparent;
}

ion-content {
    --background: var(--ion-color-background);
}

ion-fab-button {
    --background: var( --ion-color-button-text);
    --color: var(--ion-color-background);
}

ion-select,
ion-input,
ion-datetime {
    color: var(--ion-color-text);
}

.ion-color.sc-ion-label-ios-h {
    font-size: 20px;
    font-weight: 500;
    color: var(--ion-color-text);
}

ion-back-button {
    color: var(--ion-color-button-text);
}

.addButton {
    color: var(--ion-color-button-text);
    font-size: 30px;
}

.delButton {
    --background: var(--ion-color-step);
}

.item-has-value {
    font-size: 18px !important;
    color: var(--ion-color-step);
    font-weight: 600 !important;
}

ion-textarea {
    color: black !important;
}