<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" [text]="getBackButtonText()"></ion-back-button>
    </ion-buttons>
    <ion-title>Orçamentos</ion-title>
    <ion-buttons slot="end">
      <span>
        <ion-icon color="primary" name="add-circle" class="addButton" (click)="addNew()"></ion-icon>
      </span>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      detail
      *ngFor="let info of this.data; let i=index"
      (click)="details(info)">
      <span>
        <ion-icon
          [ngClass]="{'green': info.estado === 'T_APROVED', 'yellow': info.estado === 'T_AGRDAPROV', 'red': info.estado === 'T_REJECTED'}"
          name="radio-button-on"
        ></ion-icon>
      </span>
      <ion-label> {{info.title}} - {{info.valor | number: '1.2-2'}} €</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
