<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3 class="pageTitle">Despesas Colaborador</h3>
          </div>
          <div class="backDiv">
            <ion-item lines="none">
              <ion-label position="floating">Utilizador:</ion-label>
              <ion-input name="user"  type="text" placeholder="{{'T_PUTUSER' | translate}}" [(ngModel)]="user" required></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="floating">Palavra Passe:</ion-label>
              <ion-input name="password" type="password" placeholder="{{'T_PUTPW' | translate}}" [(ngModel)]="password" required></ion-input>
            </ion-item>
          </div>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Iniciar Sessão</ion-button>
          
        </ion-col>
      </ion-row>
      <ion-row color="primary" justify-content-center>
        <!-- <ion-item>
          <ion-label position="stacked">{{'T_LANGUAGE' | translate}}:</ion-label>
          <ion-select expand="block" [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()" [ngModelOptions]="{standalone: true}">
            <ion-select-option *ngFor="let item of lang" value="{{item.language}}">{{item.title}}</ion-select-option>
          </ion-select>
        </ion-item> -->
      </ion-row>
    </ion-grid>
  </form>
</ion-content>