ion-item {
    --background: transparent;
    --color: var(--ion-color-text);
}

ion-button {
    --background: var(--ion-color-button);
    --color: var(--ion-color-button-text);
}

ion-content {
    font-family: 'Sego UI';
    --background: var(--ion-color-background);
}

ion-input {
    --placeholder-weight: 100 !important;
}

.backDiv {
    background-color: #383a3e40;
    border-radius: 10px;
    margin-bottom: 5px;
}

.pageTitle {
    text-align: center;
    padding: 25% 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--ion-color-text);
}

.item .sc-ion-label-md-h,
.sc-ion-input-md-h {
    font-size: 20px;
    font-weight: 500;
}

ion-item {
    --border-color: transparent;
    margin: 20px 0;
}

:host {
    .item-interactive.ion-invalid {
        --highlight-background: var(--ion-color-text);
    }
    .item-interactive.ion-valid {
        --highlight-background: var(--ion-color-text);
    }
    .item-has-focus .label-floating {
        color: var(--ion-color-text) !important;
    }
}